<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <p>聊天室</p>
    <form id="xsyForm">
        <textarea rows="4" cols="60" name="text"></textarea>
        <input type="submit"/>
    </form>

    <script th:inline="javascript">
        $('#xsyForm').submit(function (e) {
            e.preventDefault();
            var text = $('#xsyForm').find('textarea[name="text"]').val();
            sendSpittle(text);
        });

        var sock = new SockJS("/endpointChat");
        var stomp = Stomp.over(sock);
        stomp.connect('guest','guest',function (frame) {
            stomp.subscribe("/user/queue/notifications",handleNotificaction);
        });

        function handleNotificaction(message) {
            $('#output').append("<b>Received:"+message.body+"</b><br/>")
        }

        function sendSpittle(text) {
            stomp.send("/chat",{},text);
        }

        $('#stop').click(function () {
            sock.close()
        });
    </script>
    <div id="output"></div>
</body>
</html>